.main_head {
    min-height: 720px;
      height: 100%; 
      padding-top: 20px;
    position: relative;
}

.loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999; }
    .loader .loader_inner {
      background-image: url("../img/preloader.gif");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #fff;
      height: 100%;
      width: 100%;
     
      left: 0%;
      top: 0%;
      position: absolute; } 

      .logo_container {
          float: left;
      }
      br {
          background-color: chartreuse;
          color: chartreuse;
      }
      .section4 {
          background-color: chartreuse;
          margin: 0;
          border: 0;
      }